<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94737553042-dalrdb0dh3kkelnv0fo3gbfo97itgpob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94737553042-dalrdb0dh3kkelnv0fo3gbfo97itgpob</string>
	<key>API_KEY</key>
	<string>AIzaSyDcQjiAuYxPFQ6QtqGZTC4GrpMeoFyPmrA</string>
	<key>GCM_SENDER_ID</key>
	<string>94737553042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GermanZvezdin.App</string>
	<key>PROJECT_ID</key>
	<string>sbercloud-79b36</string>
	<key>STORAGE_BUCKET</key>
	<string>sbercloud-79b36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94737553042:ios:dd82a1a43e07281aa1b84b</string>
</dict>
</plist>